option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: "production"
        product: "https://201bq42047.execute-api.eu-west-1.amazonaws.com/dev"
        cart: "http://rs-cart-api-test.eu-west-1.elasticbeanstalk.com/api"
        import: "https://8tu92szicf.execute-api.eu-west-1.amazonaws.com/dev"